html {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(38, 0, 255);
}



.b1.r1 {
  height: 100px;
  width: 100%;
}
.r1c1 {
  width: 30%;
  height: 100%;
  color: #fff;
  background-color: rgb(38, 0, 255);
}
.r1c2 {
  width: 70%;
  height: 100%;
  background-color: rgb(54, 156, 197);
  color: #fff;
}

.r2 {
  background-color: rgb(38, 0, 255);
  height: 1000px;
  width: 100%;
}

.r2 .c1 {
  background-color: aqua;
  height: 100%;
  width: 27%;
}

.r2 .c1 .t {
  height: 10%;
  width: fit-content;
  background-color: aqua;
  color: black;
  margin: 10px 10%;
}
.r2 .c1 .a {
  height: 25%;
  width: 80%;
  background-color: red;
  margin: 10px 10%;
}

.r2 .c1 .b {
  margin: 10px 10%;
  height: 25%;
  width: 80%;
  background-color: red;
}
.r2 .c1 .c {
  margin: 10px 10%;
  height: 25%;
  width: 80%;
  background-color: red;
}
