
@font-face {
    font-family:Open Sans ;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
html{
    padding: 0;
    margin:0;
}
.leftside-font{
    font-family:"Open Sans","Arial";
    height: ;
}
.main{
    width: 100%;
    height: 1000px;
}
.main-bg{
    background-color: rgba(94, 114, 228, 1);
}
.green-t{
color: rgb(87 216 161);
}

.height{
    height: 1800px;
}